*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  color: $color-body;
}
html,
body {
  &._overflow {
    overflow: hidden;
  }
}
h1, p {
  margin: 0;
  padding: 0;
}
a {
  color: $color-white;
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1160px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.btn {
  @include text($font1, 700, 16px, 20px, $color-white);
  
  padding: 15px 30px;
  border-radius: 33px;
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  &_primary {
    background: $color-grad1;
  }
}
